* {
    border: dotted red 1px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0px;
}

img {
    display: flex;
    flex: 0;
}

button {
    width: 90px;
    height: 20px;
    border-radius: 5px;
    padding: 2px;
    background-color: #3882F6;
    color: white;
}

.header {
    display: flex;
    align-items: first baseline;
    gap: 10px;
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
    padding-left: 70px;
    padding-right: 70px;
    flex: auto;
    max-height: 30px;
}

#headerlogo {
    margin-right: auto;
    font-size: 24px;
    align-items: start;
    margin-top: 0px;
    color: #F9FAF8;
}

.Section1 {
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    flex-direction: row;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    gap: 5px 40px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.Section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
}

#img1 {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: fit-content;
    object-fit: cover;
}

#img2 {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: fit-content;
    object-fit: cover;
}

#img3 {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: fit-content;
    object-fit: cover;
}

#img4 {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: fit-content;
    object-fit: cover;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.Section3{
    display: flex;
}

.Section4 {
    display: flex;
}

.footer {
    display: flex;
}