* {
    border: solid red 1px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 70px;
    margin-right: 70px;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    align-items: first baseline;
    gap: 5px;
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
}

#headerlogo {
    margin-right: auto;
    font-size: 24px;
    align-items: start;
    margin-top: 0px;
    color: #F9FAF8;
}

.Section1 {
    display: flex;
    flex-wrap: wrap;
}